* {
	box-sizing:border-box;
	margin:0;
	padding:0;
}


.big-box{
	display:grid;
	min-height:100vh;
	grid-template-columns:1fr 1fr;
	grid-template-rows:1fr 1fr;
}

.shape_1{
	position:absolute;
	background:#0C6D4C;
	height:100vh;
	width:20vw;
	left:0;
	top:0;
	clip-path:polygon(0 0, 100% 0, 100% 90%, 0 80%); 
}

.shape_2{
	position:absolute;
	background:#D4200F;
	height:100vh;
	width:100vw;
	left:0;
	top:0;
	clip-path:polygon(20% 0%, 100% 0, 100% 61%, 20% 61%);
} 

.shape_3{
	position:absolute;
	background:#060F34;
	height:100vh;
	width:100vw;
	left:0;
	top:0;
	clip-path: polygon(20% 61%, 100% 61%, 100% 100%, 0 100%, 0 80%);
}



body {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-color: #2b2d42;
  height: 100%;
  min-height: 100vh;
  margin: 0;
  position: relative;
}

.colourful-lights {
  --colourful-lights-size: 90rem;
  --colourful-lights-holder: #ced4da;
  --colourful-lights-bulb-1: #f94144;
  --colourful-lights-bulb-2: #90be6d;
  --colourful-lights-bulb-3: #f9c74f;
  --colourful-lights-bulb-4: #43aa8b;
  --colourful-lights-bulb-5: #58b4d1;

  height: 6rem;
}

.colourful-lights .bulb {
  position: absolute;
  z-index: 1;
  width: 4rem;
  height: 4rem;
  background-color: red;
  border-radius: 50% 50% 50% 50% / 30% 30% 60% 60%;
  margin-top: 0.5rem;
  left: calc(61% - 2rem);
}

.colourful-lights .bulb::before {
  content: '';
  display: block;
  position: absolute;
  z-index: -10;
  width: 1.5rem;
  height: 1.1rem;
  background-color: var(--colourful-lights-holder);
  border-radius: 0.25rem 0.25rem 0.25rem;
  top: -0.9rem;
  left: 1.25rem;
}

.colourful-lights .bulb::after {
  content: '';
  display: block;
  position: absolute;
  z-index: 1;
  width: 1rem;
  height: 1.8rem;
  background-color: white;
  border-radius: 50%;
  top: 0.5rem;
  left: 0.5rem;
  transform: rotate(0deg);
  opacity: 0.5;
}

.colourful-lights .bulb.bulb-1 {
  transform: rotate(0deg);
  background-color: var(--colourful-lights-bulb-1);
  margin-left: -24rem;
  margin-top: 0.5rem;
}

.colourful-lights .bulb.bulb-1 .light {
  animation-delay: 0.2s;
}

.colourful-lights .bulb.bulb-2 {
  transform: rotate(0deg);
  background-color: var(--colourful-lights-bulb-2);
  margin-left: -12rem;
  margin-top: 0.5rem;
}

.colourful-lights .bulb.bulb-2 .light {
  animation-delay: 0.6s;
}

.colourful-lights .bulb.bulb-3 {
  background-color: var(--colourful-lights-bulb-3);
}

.colourful-lights .bulb.bulb-4 {
  transform: rotate(0deg);
  background-color: var(--colourful-lights-bulb-4);
  margin-left: 12rem;
  margin-top: 0.5rem;
  animation: broken-bulb-animation 1s infinite;
  animation-delay: 0.3s;
}

.colourful-lights .bulb.bulb-4 .light {
  animation: broken-bulb-flicker-animation 1s infinite;
  animation-delay: 0.3s;
}

.colourful-lights .bulb.bulb-5 {
  transform: rotate(0deg);
  background-color: var(--colourful-lights-bulb-5);
  margin-left: 24rem;
  margin-top: 0.5rem;
}

.colourful-lights .bulb.bulb-5 .light {
  animation-delay: 0.2s;
}

@keyframes bulb-flicker-animation {
  0%   { opacity: 0.1; }
  20%  { opacity: 0.09; }
  30%  { opacity: 0.1; }
  40%  { opacity: 0.08; }
  50%  { opacity: 0.1; }
  60%  { opacity: 0.11; }
  70%  { opacity: 0.11; }
  80%  { opacity: 0.09; }
  90%  { opacity: 0.12; }
  100% { opacity: 0.1; }
}

@keyframes broken-bulb-animation {
  0%   { opacity: 1; }
  20%  { opacity: 1; }
  30%  { opacity: 0.4; }
  40%  { opacity: 0.7; }
  50%  { opacity: 0.4; }
  60%  { opacity: 1; }
}

@keyframes broken-bulb-flicker-animation {
  0%   { opacity: 0.1; }
  20%  { opacity: 0.09; }
  30%  { opacity: 0; }
  40%  { opacity: 0.02; }
  50%  { opacity: 0.0; }
  60%  { opacity: 0.11; }
  70%  { opacity: 0.11; }
  80%  { opacity: 0.09; }
  90%  { opacity: 0.12; }
  100% { opacity: 0.1; }
}



.drinkingAnimation{
	position: absolute;
	width: 100%;
	height: 650px;
	margin: 0px 0px 0 0px;
	background-color: transparent;
}

.bottleDiv{
	position: absolute;
	width: 200px;
	height: 180px;
	margin: 250px 650px 50px 500px;
	background-color: transparent;
	border-top-left-radius: 50%;
	border-top-right-radius: 50%;
	border-bottom-left-radius: 50%;
	border-bottom-right-radius: 50%;
	animation: tiltBottle 5s 1 linear;
	animation-fill-mode: forwards;
	z-index: 2;
}

@keyframes tiltBottle{
	0%{
	
	}
	20%{
		transform: rotate(60deg);
	}
	80%{
		transform: rotate(60deg);
	}
	100%{
		transform: rotate(0deg);
	}
}

.bottleNeck{
	position: absolute;
	width: 22px;
	height: 100px;
	margin: 0px 89px 150px 89px;
	background-color: black;
	border-radius: 20%;
	z-index: 3;
}

.bottleBody{
	position: absolute;
	width: 60px;
	height: 100px;
	margin: 100px 70px 20px 70px;
	background-color: black;
	border-bottom-left-radius: 20%;
	border-bottom-right-radius: 20%;
	z-index: 3;
}

.bottleBall{
	position: absolute;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	margin: 70px 70px 20px 70px;
	background-color: black;
	z-index: 3;
}

.bottleLabel{
	position: absolute;
	width: 50px;
	height: 65px;
	margin: 110px 85px 20px 75px;
	background-color: white;
	border-bottom-left-radius: 10%;
	border-bottom-right-radius: 10%;
	z-index: 3;
}

.withinLabel{
	position: absolute;
	width: 20px;
	height: 65px;
	margin: 0px 0px 0px 30px;
	background-color: lightgrey;
	border-bottom-left-radius: 10%;
	border-bottom-right-radius: 10%;
	z-index: 3;
}

.bottleShadow{
	position: absolute;
	width: 100px;
	height: 20px;
	margin: 435px 680px 185px 580px;
	background-color: #2F3233;
	opacity: 0.5;
	border-radius: 50%;
	animation: disappearShadow 5s 1 linear;
	animation-fill-mode: forwards;
	z-index: 1;
}

@keyframes disappearShadow{
	  0%{
			width: 100px;
			left: 0px;
		}
	20%{
			width: 140px;
			left: -80px;
		}
	80%{
			width: 140px;
			left: -80px;
		}
	100%{
			width: 100px;
			left: 0px;
		}
}

.wineDrops{
	position: absolute;
	width: 40px;
	height: 10px;
	margin: 295px 560px 155px 685px;
	background-color: transparent;
	border-top: 10px solid orange;
	border-right: 3px dashed #F5A905;
	border-top-right-radius: 1000%;
	opacity: 0;
	animation: dropWine 3s 1 linear;
	animation-delay: 1s;
	animation-fill-mode: forwards;
	z-index: 1;
}

@keyframes dropWine{
	0%{
	
	}
	30%{
		height: 150px;
		opacity: 1;
	}
	70%{
		height: 150px;
		opacity: 1;
	}
	100%{
		height: 10px;
		opacity: 0;
		width: 0 px;
	}
}

.glassDiv{
	position: absolute;
	width: 80px;
	height: 105px;
	margin: 455px 630px 75px 690px;
	background-color:transparent;				
	z-index: 1;
}

.glassMain{
	position: absolute;
	width: 50px;
	height: 40px;
	margin: 0 15px 80px 15px;
	background-color: black;				
	border-radius: 10%;
	z-index: 3;
}

.glassBall{
	position: absolute;
	width: 50px;
	height: 40px;
	margin: 20px 15px 50px 15px;
	border-radius: 50%;
	background-color: black;				
	z-index: 3;
}

.wineBall{
	position: absolute;
	height: 35px;
	width: 40px;
	margin: 0px 5px 5px 5px;
	background-color: #F5A905;
	border-bottom-right-radius: 50%;
	border-bottom-left-radius: 50%;
	opacity: 0.5;
	z-index: 3;
}

.uncoverWine{
	position: absolute;
	height: 35px;
	width: 40px;
	margin: 0px 0px 0px 0px;
	background-color: black;
	border-bottom-right-radius: 50%;
	border-bottom-left-radius: 50%;
	animation: showWine 1.5s 1 linear;
	animation-fill-mode: forwards;
	animation-delay: 2s;
	z-index: 3;
}

@keyframes showWine{
	to{
		border-bottom-right-radius: 0%;
		border-bottom-left-radius: 0%;
		height: 0px;
		margin: 0px 0px 35px 0;
	}
}

.glassStem{
	position: absolute;
	width: 6px;
	height: 45px;
	margin: 60px 37px 0px 37px;
	background-color: black;
	z-index: 3;
}

.glassStand{
	position: absolute;
	width: 50px;
	height: 8px;
	margin: 100px 15px 0px 15px;
	border-top-right-radius: 100%;
	border-top-left-radius: 100%;
	background-color: black;
	z-index: 3;
}

.glassShadow{
	position: absolute;
	width: 80px;
	height: 15px;
	margin: 553px 555px 67px 705px;
	background-color: #2F3233;
	opacity: 0.4;
	border-radius: 50%;
	z-index: 3;
}



