* {
	box-sizing:border-box;
	margin:0;
	padding:0;
}

html{
	position:absolute;

	width:1920px;
	height:3000px;
}

.shape_1{
	position:absolute;
	background:#EAC435;
	
	width:100px;
	height:100px;
}

.shape_2{
	position:absolute;
	background:#D4200F;
	
	width:100px;
	height:100px;
	
	left:100px;
}

.shape_3{
	position:absolute;
	background:#0C6D4C;

	width:100px;
	height:100px;

	left:0px;
	top:100px;
}

.shape_4{
	position:absolute;
	background:#060F34;

	width:100px;
	height:100px;

	left:100px;
	top:100px;
}



/*
h1 {
    position:absolute;
    margin-top:50px;
    margin-left:50px;
    transform: rotate(90deg);
	color:white;
	font-family: 'Roboto Mono', monospace;
	font-size:20px;
}
*/


